.main_target_choosers{
  height: 80px;
  width: 100%;
}

.main_btn_findplace{
  height: 100%;
  white-space: normal;
}

.main_btn_avia{
   margin: 10px 0px 5px 0px;
   width: 100%;
   height: 100px;
   white-space: normal;
}

.main_btn_weather{
  margin: 5px 0px 5px 0px;
  width: 100%;
  height: 100px;
  white-space: normal;
}

.main_target_choosers{
}
.main_filters{
  float: left;
  width: 20%;
  overflow: auto;
}
.main_target_list{
  float: left;
  width: 80%;
}
.main_advertising{
  margin: 0px -15px !important;
  height: 800px;
}

.main_selectcountry{
  margin: 10px 10px 0px 10px;
}

.main_selectdata{
  padding: 0px 10px 0px 10px;
}

.main_findplace{
  padding: 10px 10px 15px 0px;
}

.table > td {
  height: 40px !important;
}

.inlined{
  float: left;
}
