<ng-template #withoutOpt let-link='link'>
  <option value="{{link}}">{{link.name}}</option>
</ng-template>

<ng-template #withOpt let-link='link'>
  <optgroup label="{{link.country}}"></optgroup>
  <option value="{{link}}">{{link.name}}</option>
</ng-template>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbRfNJ6xXGUpESXYhq_gZVb6TdNYkhfow" async defer></script>-->
<div class="inlined col-md-10">
    <table class="test main_target_choosers">
      <tr>
        <td>
          <div class=" input-group mb-3">
            <select class="main_selectcountry form-control" id="inputGroupCountryFrom">
              <ng-container *ngFor="let a of places.cities, let i = index">
                <ng-container [ngTemplateOutlet]="ifNewCountry(a.country) ? withOpt : withoutOpt"
                              [ngTemplateOutletContext]="{link : a}">
                </ng-container>
              </ng-container>
            </select>
            <select class="main_selectcountry form-control" id="inputGroupCountryTo">
              <ng-container *ngFor="let a of places.cities, let i = index">
                <ng-container [ngTemplateOutlet]="ifNewCountry(a.country) ? withOpt : withoutOpt"
                              [ngTemplateOutletContext]="{link : a}">
                </ng-container>
              </ng-container>
            </select>
          </div>
        </td>
        <td rowspan="2" class="main_findplace">
          <button type="button" class="btn btn-success btn-lg main_btn_findplace">
            {{str.btn_accept}}
          </button>
        </td>
        <td rowspan="2" class="main_findplace">
          <button type="button" class="btn btn-success btn-lg main_btn_findplace" (click)="getUserGeoAndInitMap()">
            {{str.btn_maps_integration}}
          </button>
          <div #gmap *ngIf="show_map" style="height: 100%; width: 100%; z-index: 10;"></div> <!--//getUserGeoAndInitMap()-->
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-group mb-3 main_selectdata">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupDateFrom">{{str.date_from}}</label>
            </div>
            <input class="form-control" type="date" name="dateFrom" id="inputGroupDateFrom">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupDateTo">{{str.date_to}}</label>
            </div>
            <input class="form-control" type="date" name="dateFrom" id="inputGroupDateTo" style="border-radius: 0px 7px 7px 0px;">
          </div>
        </td>
      </tr>
    </table>

    <div class="test main_filters" >
      <div *ngFor="let a of places.filters">
        <filter [filter]=a[0] [(ngModel)]="a[1]"></filter>
      </div>
      <div class=" input-group mb-3">
        <button type="button" class="btn btn-success form-control main_btn_findplace">
          {{str.btn_clear}}
        </button>
        <button type="button" (click)="getFilteredHotels()" class="btn btn-success form-control main_btn_findplace">
          {{str.btn_accept}}
        </button>
      </div>

    </div>
    <div class="test main_target_list">
      <paging [pages]="places.pages" [(ngModel)]="current_page"></paging>
      <place-list class="justify-content-center" [places]="filtered_places"></place-list>
      <paging [pages]="places.pages" [(ngModel)]="current_page"></paging>
    </div>
  </div>


  <div class="test main_advertising inlined col-md-2">
    <button type="button" class="btn btn-primary btn-lg main_btn_avia">{{str.btn_tickets_integration}}</button>
    <a  class="btn btn-primary btn-lg main_btn_weather" href="https://netcracker-places-service.herokuapp.com/">{{str.btn_weather_integration}}</a>

  </div>



