<div class="header row">
  <rating [size]=5 [disabled]=true [(ngModel)]="place.stars"></rating>
  <h3>{{place.name}}</h3>
  <h3 [class]="place.mark >=4 ? 'badge badge-success' : ( place.rating < 4 && place.rating >= 3 ? 'badge badge-warning' : 'badge badge-danger' )">{{place.rating}}</h3>
</div>

<div class="content panel row">
  <div class="col-md-3">
    <img src="{{place.image}}">
  </div>
  <div class="col-md-7">
    <form>
      <div class="form-group row">
        <label for="type" class="col-sm-4 col-form-label">{{str.place_browse_place_type_label}}</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control-plaintext" id="type" value="{{ ps.defineType(place.type) }}">
        </div>
      </div>

      <div class="form-group row">
        <label for="where" class="col-sm-4 col-form-label">{{str.place_browse_city_label}}</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control-plaintext" id="where" value="{{place.city.name}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="howmuch" class="col-sm-4 col-form-label">{{str.place_browse_price_label}}</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control-plaintext" id="howmuch" value="{{place.price}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="wifi" class="col-sm-4 col-form-label">{{str.place_browse_wifi_label}}</label>
        <div class="col-sm-8">
          <input type="checkbox" disabled class="form-control" id="wifi" checked="{{place.wifi}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="breakfast" class="col-sm-4 col-form-label">{{str.place_browse_breakfast_label}}</label>
        <div class="col-sm-8">
          <input type="checkbox" disabled class="form-control" id="breakfast" checked="{{place.breakfast}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="freeRoom" class="col-sm-4 col-form-label">{{str.place_browse_freeRoom_label}}</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control-plaintext"  id="freeRoom" value="{{place.freeRoom}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="phone" class="col-sm-4 col-form-label">{{str.place_browse_phone_label}}</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control-plaintext"  id="phone" value="{{place.phone}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="url" class="col-sm-4 col-form-label">{{str.place_browse_url_label}}</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control-plaintext"  id="url" value="{{place.url}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="opening_hours" class="col-sm-4 col-form-label">{{str.place_browse_opening_hours_label}}</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control-plaintext"  id="opening_hours" value="{{place.opening_hours}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="facilities" class="col-sm-4 col-form-label">{{str.place_browse_facilities_label}}</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control-plaintext"  id="facilities" value="{{place.facilities}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="address" class="col-sm-4 col-form-label">{{str.place_browse_address_label}}</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control-plaintext"  id="address" value="{{place.address}}">
        </div>
      </div>
    </form>
  </div>
</div>
