<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Изменение книги</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(book)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <!--<div class="form-group col-xs-3">-->
<!--          <label for="name">Название книги</label>
          <input [(ngModel)]="book.name" id="name" [ngModelOptions]="{standalone: true}"/>-->
          <mat-form-field class="book-width col-xs-3">
            <input matInput placeholder="Название книги"  [(ngModel)]="book.name" name="bookName">
          </mat-form-field>
        <!--{{book.name}}-->
        <!--</div>-->
      </div>
      <div class="row">
<!--        <div class="form-group col-xs-3">
          <label for="writer">Автор книги</label>
          <input [(ngModel)]="book.author.name"  id="writer" [ngModelOptions]="{standalone: true}"/>
        </div>-->

        <mat-form-field class="book-width select_open col-xs-3">
          <mat-select placeholder="Автор книги" [(ngModel)]="book.author" name="bookAuthor"  >
            <mat-option *ngFor="let author of authors" [value]="author">
              <span>{{author.name}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--{{book.author}}-->
      </div>
      <div class="row">
        <!--<div class="form-group col-xs-3">-->
<!--          <select class="custom-select d-block w-100" id="kind">
            <option [(ngModel)]="book.genre" *ngFor="let genre of genres">{{genre}}</option>
          </select>-->


          <mat-form-field class="book-width select_open col-xs-3">
            <mat-select placeholder="Жанр книги" [(ngModel)]="book.genre" name="bookGenre">
              <mat-option *ngFor="let genre of genres"  [value]="genre">
                {{genre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <!--{{book.genre}}-->

      </div>

      <!--</div>-->
      <!--<button type="button" class="btn btn-primary" (click)="save()">Save</button>-->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(book)">Save</button>
  </div>
</ng-template>
<button type="button" class="btn btn-outline-secondary btn-sm" (click)="open(content)"><i class="fas fa-pencil-alt"></i> </button>
