.page_chooser_value{
  display: none;
}

.page_chooser_btn{

}

.value_chooser{
  width: 50px;
  height: 38px;
  border: 1px solid #dee2e6;
  margin-left: -1px;
}

.value_button{
  float: right;
}

.value_button > button{
  border-radius: 0;
}
