<ul class="pagination justify-content-center" style="margin:20px 0">
  <li class="page-item"><a class="page-link" (click)="page_previous()">Previous</a></li>

  <li *ngIf="current - 1 > 1" class="page-item">
    <a #page_chooser_btn_1 class="page_chooser page-link" action="1" (click)="page_chooser_open($event)">...</a>
    <div #page_chooser_value_1 class="page_chooser_value input-group mb-3">
      <input #value_chooser_1 type="number" class="value_chooser"/>
      <div class="input-group-append value_button">
        <button action="1" class="input-group-text btn" (click)="page_chooser_set($event)">Go</button>
      </div>
    </div>
  </li>

  <li *ngIf="current != 1" class="page-item"><a class="page-link" (click)="onChange($event, current - 1)" >{{ current - 1 }}</a></li>
  <li class="page-item"><a class="page-link" (click)="onChange($event, current)">{{ current }}</a></li>
  <li *ngIf="current != pages" class="page-item"><a class="page-link" (click)="onChange($event, current+1)">{{ current + 1 }}</a></li>

  <li *ngIf="current + 1 <= pages - 1" class="page-item">
    <a #page_chooser_btn_2 class="page_chooser_btn page-link" action="2" (click)="page_chooser_open($event)">...</a>
    <div #page_chooser_value_2 class="page_chooser_value input-group mb-3">
      <input #value_chooser_2 type="number" class="value_chooser"/>
      <div class="input-group-append value_button">
        <button action="2" class="input-group-text btn" (click)="page_chooser_set($event)">Go</button>
      </div>
    </div>
  </li>

  <li class="page-item"><a class="page-link" (click)="page_next()">Next</a></li>
</ul>
