<table class="table">
  <tr>
    <td>
      <select class="form-control" (change)="sortByPrice($event.target.value)">
        <option value="0">{{str.table_sort_price}}</option>
        <option value="-1"><-</option>
        <option value="1">-></option>
      </select>
    </td>
    <td>
      <select class="form-control" (change)="sortByStars($event.target.value)">
        <option value="0">{{str.table_sort_stars}}</option>
        <option value="-1"><-</option>
        <option value="1">-></option>
      </select>
    </td>
    <td>
      <select class="form-control" (change)="sortByFeedbacks($event.target.value)">
        <option value="0">{{str.table_sort_feedbacks}}</option>
        <option value="-1"><-</option>
        <option value="1">-></option>
      </select>
    </td>
    <td>
      <select class="form-control" (change)="sortByRemoteness($event.target.value)">
        <option value="0">{{str.table_sort_remoteness}}</option>
        <option value="-1"><-</option>
        <option value="1">-></option>
      </select>
    </td>
  </tr>
</table>

<table class="table place_list_view">
  <tr>
    <th>{{str.table_header_photo}}</th>
    <th colspan="2">{{str.table_header_name}}</th>
    <th>{{str.table_header_price}}</th>
  </tr>
    <tr *ngFor="let n of places; index as i"  (click)="openPlace(n)">
      <td> <img src="{{n.image}}"> </td>
      <td colspan="2"> {{n.name}} </td>
      <td> {{n.price}} </td>
    </tr>
</table>
