<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Название книги</th>
    <th scope="col">Автор</th>
    <th scope="col">Жанр</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books; let i = index" [attr.data-index]="i">
      <th scope="row">{{i}}</th>
      <td>{{book.name}}</td>
      <td>{{book.author.name}}</td>
      <td>{{book.genre}}</td>
      <td>
        <book-editor [book]="book"></book-editor>
        <button (click)="delete(book)" type="button" class="btn btn-outline-secondary btn-sm"><i class="fas fa-trash-alt"></i> </button>
      </td>
    </tr>
  </tbody>
</table>
<ul class = "nav nav-pills">
  <li class="nav-item" *ngFor="let p of pages; let i = index">
    <a class = "nav-link" href="" (click)="setPage(i,$event)">{{i}}</a>
  </li>
</ul>
